*{
    margin: 0px;
    padding: 0px;
    image-rendering: pixelated;
}
:root{
    --cor1: rgb(255,0,0);
    --cor2: rgb(0,255,0);
    --cor3: rgb(0,0,255);
}
body{
    background-image: linear-gradient(rgb(22, 22, 22), rgb(10,10,10));
}
h1,p,h2{
    text-align: center;
    background-size: 100% 100%;
    background-attachment: fixed;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
}
iframe{
    transform: translate(-50%,0);
    position: relative;
    left: 50%;
    width: 80%;
    height: 500px;
    border-radius: 10px;
    border-bottom: 20px solid black;
    border-top: 50px solid black;
    border-left: 10px solid black;
    border-right: 10px solid black;
    background-image: url(imagens/background.gif);
}
#iniciar{
    cursor: pointer;
    color: red;
    font-size: 2rem;
}
#imageLink img{
    transform: translate(-50%, 0);
    position: relative;
    width: 25%;
    left: 50%;
}
::-webkit-scrollbar{
    background-color: black;
}
::-webkit-scrollbar-thumb{
    background-image: url(imagens/ScrollbarThumbrl.png);
    background-size: 100% 100%;
}
@media screen and (max-width:1110px) {
    iframe{
        height: 600px;
    }
}